﻿@model TinTucWeb.Models.Tin

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tin</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.tieuDe)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tieuDe)
            @Html.ValidationMessageFor(model => model.tieuDe)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tomTat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tomTat)
            @Html.ValidationMessageFor(model => model.tomTat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.urlHinh)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.urlHinh)
            @Html.ValidationMessageFor(model => model.urlHinh)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ngayDangTin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ngayDangTin)
            @Html.ValidationMessageFor(model => model.ngayDangTin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idAccount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idAccount)
            @Html.ValidationMessageFor(model => model.idAccount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idSuKien)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idSuKien)
            @Html.ValidationMessageFor(model => model.idSuKien)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.content)
            @Html.ValidationMessageFor(model => model.content)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idLoaiTin, "LoaiTin")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idLoaiTin", String.Empty)
            @Html.ValidationMessageFor(model => model.idLoaiTin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idTheLoai, "TheLoai")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idTheLoai", String.Empty)
            @Html.ValidationMessageFor(model => model.idTheLoai)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.trangThai)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.trangThai)
            @Html.ValidationMessageFor(model => model.trangThai)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
