﻿@model TinTucWeb.Models.Tin

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Tin</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tieuDe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tieuDe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tomTat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tomTat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.urlHinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.urlHinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngayDangTin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngayDangTin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idAccount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idAccount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idSuKien)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idSuKien)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.content)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoaiTin.ten)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiTin.ten)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TheLoai.tenTheLoai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TheLoai.tenTheLoai)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trangThai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trangThai)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
