﻿@model TinTucWeb.Models.Tin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tin</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tieuDe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tieuDe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tomTat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tomTat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.urlHinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.urlHinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngayDangTin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngayDangTin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idAccount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idAccount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idSuKien)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idSuKien)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.content)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoaiTin.ten)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiTin.ten)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TheLoai.tenTheLoai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TheLoai.tenTheLoai)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.trangThai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.trangThai)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.idTin }) |
    @Html.ActionLink("Back to List", "Index")
</p>
