﻿@model IEnumerable<TinTucWeb.Models.Tin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tieuDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tomTat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.urlHinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngayDangTin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idSuKien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiTin.ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheLoai.tenTheLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trangThai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tieuDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tomTat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.urlHinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngayDangTin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idSuKien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiTin.ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheLoai.tenTheLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trangThai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idTin }) |
            @Html.ActionLink("Details", "Details", new { id=item.idTin }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idTin })
        </td>
    </tr>
}

</table>
