﻿@model TinTucWeb.Models.QuyenThamGiaTroChoiTrongNgay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>QuyenThamGiaTroChoiTrongNgay</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.duocTraLoi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.duocTraLoi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngayThamGia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngayThamGia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Account_idAccount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Account_idAccount)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.idAccount }) |
    @Html.ActionLink("Back to List", "Index")
</p>
