﻿@model IEnumerable<TinTucWeb.Models.QuyenThamGiaTroChoiTrongNgay>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.duocTraLoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngayThamGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account_idAccount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.duocTraLoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngayThamGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account_idAccount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idAccount }) |
            @Html.ActionLink("Details", "Details", new { id=item.idAccount }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idAccount })
        </td>
    </tr>
}

</table>
