﻿@{
    ViewBag.Title = "GiaiTri";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<h2>GiaiTri</h2>
<p>Chao Mung Den Voi Trang Giai Tri</p>
@Html.ActionLink("Quay ve trang chu", "TrangChu", "TrangChu")
