﻿@{
    ViewBag.Title = "KinhTe";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<h2>KinhTe</h2>
<p>Chao Mung Den Voi Trang Kinh Te</p>
@Html.ActionLink("Quay ve trang chu", "TrangChu", "TrangChu")
