﻿@{
    ViewBag.Title = "PhapLuat";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<h2>PhapLuat</h2>
<p>Chao Mung Den Voi Trang PL</p>
@Html.ActionLink("Quay ve trang chu", "TrangChu", "TrangChu")
