﻿@{
    ViewBag.Title = "TheGioi";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<h2>TheGioi</h2>
<p>Chao Mung Den Voi Trang The Gioi</p>
@Html.ActionLink("Quay ve trang chu","TrangChu","TrangChu")