﻿@{
    ViewBag.Title = "TheThao";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<h2>TheThao</h2>
<p>Chao Mung Den Voi Trang The Thao</p>
@Html.ActionLink("Quay ve trang chu", "TrangChu", "TrangChu")
