﻿@{
    ViewBag.Title = "VanHoa";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<h2>VanHoa</h2>
<p>Chao Mung Den Voi Trang Van Hoa</p>
@Html.ActionLink("Quay ve trang chu", "TrangChu", "TrangChu")
