﻿@model TinTucWeb.Models.PhanThuong

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PhanThuong</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idAccount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idAccount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tenPhanThuong)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tenPhanThuong)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngayNhan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngayNhan)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.idPhanThuong }) |
    @Html.ActionLink("Back to List", "Index")
</p>
