﻿@model IEnumerable<TinTucWeb.Models.PhanThuong>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenPhanThuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngayNhan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenPhanThuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngayNhan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPhanThuong }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPhanThuong }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPhanThuong })
        </td>
    </tr>
}

</table>
