﻿@model TinTucWeb.Models.CauHoiTinTuc

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CauHoiTinTuc</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.noiDungCH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.noiDungCH)
            @Html.ValidationMessageFor(model => model.noiDungCH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dapAnCH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dapAnCH)
            @Html.ValidationMessageFor(model => model.dapAnCH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ngayCapNhatCH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ngayCapNhatCH)
            @Html.ValidationMessageFor(model => model.ngayCapNhatCH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Account_idAccount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Account_idAccount)
            @Html.ValidationMessageFor(model => model.Account_idAccount)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
