﻿@model TinTucWeb.Models.CauHoiTinTuc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CauHoiTinTuc</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.noiDungCH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.noiDungCH)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dapAnCH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dapAnCH)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngayCapNhatCH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngayCapNhatCH)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Account_idAccount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Account_idAccount)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.idCauHoi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
