﻿@model IEnumerable<TinTucWeb.Models.CauHoiTinTuc>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.noiDungCH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dapAnCH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngayCapNhatCH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account_idAccount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.noiDungCH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dapAnCH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngayCapNhatCH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account_idAccount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCauHoi }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCauHoi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCauHoi })
        </td>
    </tr>
}

</table>
