﻿<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <title>@ViewBag.Title</title>
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="menu">
        <div class="main">
            @*<div class="menu">Menu</div>*@
            @*<div class="content">*@
            @RenderBody()
        </div>
        </div>
    <div class="box-img-pro-home"></div>
</body>
</html>