﻿@model IEnumerable<TinTucWeb.Models.SuKien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.moTa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.moTa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idSuKien }) |
            @Html.ActionLink("Details", "Details", new { id=item.idSuKien }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idSuKien })
        </td>
    </tr>
}

</table>
