﻿@model TinTucWeb.Models.LoaiTin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LoaiTin</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ten)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ten)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.url)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.url)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.anHien)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.anHien)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idTheLoai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idTheLoai)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.target)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.target)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.iconHinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.iconHinh)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.idLoaiTin }) |
    @Html.ActionLink("Back to List", "Index")
</p>
