﻿@model IEnumerable<TinTucWeb.Models.LoaiTin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anHien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idTheLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.target)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iconHinh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.anHien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idTheLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.target)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iconHinh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idLoaiTin }) |
            @Html.ActionLink("Details", "Details", new { id=item.idLoaiTin }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idLoaiTin })
        </td>
    </tr>
}

</table>
