﻿@model TinTucWeb.Models.NhanXetBanDoc

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>NhanXetBanDoc</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idTin, "Tin")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idTin", String.Empty)
            @Html.ValidationMessageFor(model => model.idTin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.hoTen)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.hoTen)
            @Html.ValidationMessageFor(model => model.hoTen)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ngayNX)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ngayNX)
            @Html.ValidationMessageFor(model => model.ngayNX)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.noiDungNX)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.noiDungNX)
            @Html.ValidationMessageFor(model => model.noiDungNX)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NhanXetBanDoc_idNhanXet)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NhanXetBanDoc_idNhanXet)
            @Html.ValidationMessageFor(model => model.NhanXetBanDoc_idNhanXet)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Account_idAccount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Account_idAccount)
            @Html.ValidationMessageFor(model => model.Account_idAccount)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
