﻿@model TinTucWeb.Models.NhanXetBanDoc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>NhanXetBanDoc</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tin.tieuDe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tin.tieuDe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hoTen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hoTen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngayNX)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngayNX)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.noiDungNX)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.noiDungNX)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NhanXetBanDoc_idNhanXet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NhanXetBanDoc_idNhanXet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Account_idAccount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Account_idAccount)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.idNhanXet }) |
    @Html.ActionLink("Back to List", "Index")
</p>
