﻿@model IEnumerable<TinTucWeb.Models.NhanXetBanDoc>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tin.tieuDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngayNX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noiDungNX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhanXetBanDoc_idNhanXet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account_idAccount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tin.tieuDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngayNX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noiDungNX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanXetBanDoc_idNhanXet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account_idAccount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idNhanXet }) |
            @Html.ActionLink("Details", "Details", new { id=item.idNhanXet }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idNhanXet })
        </td>
    </tr>
}

</table>
