﻿@model TinTucWeb.Models.TheLoai

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TheLoai</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tenTheLoai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tenTheLoai)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.anHien)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.anHien)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.idTheLoai }) |
    @Html.ActionLink("Back to List", "Index")
</p>
