﻿@model TinTucWeb.Models.TheLoai

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TheLoai</legend>

        @Html.HiddenFor(model => model.idTheLoai)

        <div class="editor-label">
            @Html.LabelFor(model => model.tenTheLoai)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tenTheLoai)
            @Html.ValidationMessageFor(model => model.tenTheLoai)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.anHien)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.anHien)
            @Html.ValidationMessageFor(model => model.anHien)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
