﻿body {
    margin: 0;
    padding: 0;
    background: #f7f5f5
}
.main
{
    width:1400px;
    min-height:1400px;
    background:#f7f5f5;
    margin:0 auto;
    padding:0
}
.menu
{
    width:400px;
    min-height:40px;
    background:#ffd800
}
.content
{
    width:1000px;
    min-height:1000px;
    background:#262424;
}
.box-img-pro-home img{max-width:130px;max-height:100px;border:0}

